.moviesCardList {
  padding: 80px 70px 100px 70px;
}

.moviesCardList__container {
  max-width: 1140px;
  margin: 0 auto;
}

.moviesCardList__list {
  padding: 0 0 80px 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 20px;
  row-gap: 32px;
  justify-content: center;
}

.moviesCardList__button-add {
  margin: 0 auto;
  padding: 10px 146px;
  display: block;
  border: 1px solid #424242;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.moviesCardList__button-add:hover {
  opacity: .5;
}

@media screen and (max-width: 769px){
  .moviesCardList {
    padding: 90px 30px 100px 30px;
  }

  .moviesCardList__list {
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 450px){
  .moviesCardList {
    padding: 50px 10px 100px 10px;
  }

  .moviesCardList__list {
    row-gap: 20px;
  }

  .moviesCardList__button-add {
    padding: 10px 106px;
  }
}