.profile {
  padding: 54px 0 0 0;
}

.profile__container {
  width: 410px;
  margin: 0 auto;
}

.profile__title {
  margin: 0 0 123px 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__inputsBlock {
  margin: 0 0 220px 0;
}

.profile__inputWrapper {
  display: flex;
}

.profile__inputText {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding: 1px;
  margin-left: 20px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.profile__input:focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px rgb(12, 90, 206);
}

.profile__input::-webkit-input-placeholder {
  color: #8B8B8B;
}
.profile__input::-moz-placeholder {
  color: #8B8B8B;
}
.profile__input::-ms-input-placeholder {
  color: #8B8B8B;
}

.profile__input::placeholder {
  color: #8B8B8B;
}

.profile__line {
  display: block;
  border-bottom: 1px solid #424242;
  margin: 16px 0 16px 0;
}

.profile__buttonSubmit {
  margin: 0 auto 16px auto;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.profile__logOutLink {
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
}

@media screen and (max-width: 769px){
  .profile {
    padding: 217px 0 0 0;
  }

  .profile__title {
    margin: 0 0 95px 0;
  }

  .profile__inputsBlock {
    margin: 0 0 210px 0;
  }
}

@media screen and (max-width: 450px){
  .profile__buttonSubmit {
    font-size: 12px;
    line-height: 15px;
  }
  
  .profile__logOutLink {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__title {
    margin: 0 0 80px 0;
  }

  .profile {
    padding: 55px 0 110px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .profile__container {
    width: 260px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .profile__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .profile__inputsBlock {
    margin: 0;
    flex: 1 1 auto;
  }
}
