.portfolio {
  padding: 0 70px 125px;
}

.portfolio__container {
  max-width: 1140px;
  margin: 0 auto;
}

.portfolio__title {
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__listItem {
  padding: 20px 6px 19px 0;
  border-bottom: 1px solid #424242;
}

.portfolio__listItem:last-child {
  border: none;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  display: block;
  background: url('../../images/arrowIcon.svg') no-repeat center right;
}

@media screen and (max-width: 769px){
  .portfolio__link {
    font-size: 28px;
  }

  .portfolio {
    padding: 0 50px 90px;
  }
}

@media screen and (max-width: 560px){
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 450px){
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    margin: 0 0 20px 0;
    font-size: 14px;
  }

  .portfolio__link {
    background-size: 11px 20px;
  }
}