.filterCheckbox__text {
  font-size: 13px;
  line-height: 18px;
  margin-left: 14px;
}

.filterCheckbox__input {
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filterCheckbox__switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  border-radius: 25%/50%;
  vertical-align: top;
  background-color: #EBEBEB;
  transition: .2s;
}

.filterCheckbox__switch::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  transition: .15s;
}

.filterCheckbox__input:checked + .filterCheckbox__switch {
  background-color: #3DDC84;
}

.filterCheckbox__input:checked + .filterCheckbox__switch::before {
  transform: translate(16px);
}

@media screen and (max-width: 450px){
  .filterCheckbox__text {
    font-size: 11px;
  }
}
